#navbar {
  position: fixed;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 100%;

  div {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

.menu-logo {
  color: #f2f2f2;
  vertical-align: middle;
}

.menu-logo-img {
  width: 80px;
  height: auto;
  object-fit: contain;
}
.main-menu {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: flex-end;
}

.menu-item {
  display: flex;
  position: relative;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  * {
    text-decoration: none;
    color: Black;
  }
}

.menu-item *:hover {
  color: #ca3b4f;
}
